.popup__close {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -35px;
    right: 0;
    background-image: url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (min-width: 1024px) {
    .popup__close {
        width: 32px;
        height: 32px;
        top: -40px;
        right: -38px;
    }
}