.profile__avatar {
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(../../../images/change.svg);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    transition: opacity 1s ease-in-out;
}