/* .popup__place {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 22px 0;
    max-width: 282px;
    min-height: 270px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    cursor: auto;
}

@media (min-width: 1024px) {
    .popup__place {
        min-width: 430px;
        min-height: 270px;
        padding: 0 36px 0;
    }
} */